
* {
    padding: 0;
    margin: 0;
    transition: .4s ease;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.active{
    transform: translate(0, 0)!important;
    opacity: 1!important;
}
.active2{
    transform: translateY(300%)!important;
    opacity: 0;
}

.screen {
    position: fixed;
    height: 100vh;
    max-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.screen-active {
    z-index: 2;
}

header{
    z-index: 11;
    position: fixed;
    width: 97%;
    height: 70px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    .logo{
        transform: translateY(-150%);
        height: 100%;
        display: flex;
        align-items: center;
    }
    .pepsi_logo{
        display: flex;
        align-items: center;
        a{
            height: 100%;
            display: flex;
            align-items: center;
        }
        h1{
            color: white;
            margin-left: 5px;
        }
        img{
            width: 50px;
        }
    }
    .mid{
        transform: translateY(-150%);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #data{
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .header_button{
        background-color: transparent;
        border: 1px white solid;
        border-radius: 30px;
        padding: 5px;
        color: white;
        width: 100px;
        &:hover{
            cursor: pointer;
            color: #000;
            background: white;
        }
    }
    .right{
        transform: translateY(-150%);
        height: 100%;
        display: flex;
        align-items: center;
    }
    .header_mid_a{
        color: rgb(173, 172, 172);
        margin-right: 20px;
        &:hover{
            color: white;
         }
    }
    #sport{
        cursor: pointer;
    }
    
}
    
/* The sidebar menu */
.sidenav {
    height: 350px; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition-duration: 1000ms;
    transform: translateX(-150%);
    img{
        width: 30px;
    }
    margin-top: 300px;
}
.active_3{
    filter: invert(1);
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}